<mat-toolbar class="main-header" color="primary">
<!--  <button (click)="toggleSidenav.emit()" mat-icon-button>-->
<!--    <mat-icon>menu</mat-icon>-->
<!--  </button>-->
  <button (click)="collapsedLayout()" mat-icon-button>
    <mat-icon>menu</mat-icon>
  </button>
<!--  <div class="branding">-->
<!--    <div class="logo"></div>-->
<!--  </div>-->
  <div fxFlex></div>
  <div class="pl-0" *ngIf="isMobile">
    <h6 [ngStyle]="{fontSize: '12px', lineHeight:'15px'}" mat-card-widget-title>Protótipo<br>0.1</h6>
  </div>
  &nbsp;&nbsp;
  <div fxFlex></div>
  <app-footer></app-footer>
  <div fxFlex></div>
  <span class="fill-space"></span>
  <div class="pl-0" *ngIf="!isMobile">
    <h2 mat-card-widget-title>Protótipo 0.1</h2>
  </div>
  <div fxFlex *ngIf="!isMobile"></div>
  <!--  <div class="search-bar" fxFlex>-->
<!--    <form class="search-form" [ngStyle.xs]="{display: 'none'}">-->
<!--      <mat-icon>search</mat-icon>-->
<!--      <input type="text" placeholder="Search" autofocus="true" />-->
<!--    </form>-->
<!--  </div>-->
  <button (click)="darkMode()" mat-icon-button>
    <mat-icon>invert_colors</mat-icon>
  </button>
  <button (click)="fullScreenToggle()" mat-icon-button>
    <mat-icon>fullscreen</mat-icon>
  </button>
<!--  <button (click)="boxLayout()" mat-icon-button *ngIf="!isMobile">-->
<!--    <mat-icon>fullscreen_exit</mat-icon>-->
<!--  </button>-->
<!--  <button (click)="toggleNotificationSidenav.emit()" mat-icon-button class="ml-xs overflow-visible">-->
<!--    <mat-icon>notifications</mat-icon>-->
<!--    <span class="notification-label">5</span>-->
<!--  </button>-->
  <button [matMenuTriggerFor]="user" mat-icon-button class="ml-xs">
    <mat-icon>person</mat-icon>
  </button>
  <mat-menu #user="matMenu" x-position="before">
<!--    <button mat-menu-item>-->
<!--      <mat-icon>settings</mat-icon>-->
<!--      Configurações-->
<!--    </button>-->
<!--    <button mat-menu-item>-->
<!--      <mat-icon>account_box</mat-icon>-->
<!--      Perfil-->
<!--    </button>-->
<!--    <button mat-menu-item>-->
<!--      <mat-icon>notifications_off</mat-icon>-->
<!--      Desativar notificações-->
<!--    </button>-->
<!--    <button [disabled]="true" mat-menu-item (click)="criarUsuario()">-->
<!--      <mat-icon>person_add</mat-icon>-->
<!--      Criar novo usuário-->
<!--    </button>-->
<!--    <button [disabled]="true" mat-menu-item (click)="alterarSenha()">-->
<!--      <mat-icon>settings</mat-icon>-->
<!--      Alterar senha-->
<!--    </button>-->
    <button mat-menu-item (click)="logout()">
      <mat-icon>exit_to_app</mat-icon>
      Sair
    </button>
  </mat-menu>
</mat-toolbar>
