.calendar_danger {
    background: rgba(241, 47, 47, 0.3);
    border-radius: 100%;
}

.calendar_ok {
    background: rgba(102, 241, 47, 0.3);
    border-radius: 100%;
}

.calendar_alert {
    background: rgba(238, 241, 47, 0.3);
    border-radius: 100%;
}